<header>
    <h1>Prominent Women in Modern History</h1>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/women">Home</a></li>
        </ul>
    </nav>
    <form>
        <input type="search" name="" id="" placeholder="Joan of Arc, Eva Peron...">
    </form>
</header>